<div class="card mx-auto my-2 text-white bg-dark">
  <div class="card-body">
    <h4 class="card-title">
    <a href="/post/{{id}}" class="title-text">{{title}}</a>
    </h4>

    <p class="card-text">{{post_text}}</p>
 
  <div class="card-footer">
    Posted by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}" class="text-muted">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      </div>    
    </div> 
  </div>