<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input
        name="post-title"
        type="text"
        value="{{post.title}}"
        style="min-width: 100%;"
      />
    </div>
    <div class="m-1">
      Posted by you on
      <i class="fa-solid fa-calendar"></i>
      {{format_date post.created_at}}
      |
      <i class="fa-solid fa-comment-dots"></i>
      {{post.comments.length}}
      <i class="fa-solid fa-comment-dots"></i>
      {{format_plural "comment" post.comments.length}}
    </div>
    <div class="m-1">
      <textarea id="post-text" name="post-text" style="min-width: 100%;">{{post.post_text}}</textarea>
    </div>
    <button type="submit" class="btn btn-secondary">
      Save Changes
      <i class="fa-solid fa-floppy-disk"></i>
    </button>
    <button type="button" class="delete-post-btn btn btn-danger">
      Delete Post
      <i class="fa-solid fa-trash-can"></i>
    </button>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>